
.subba{
    width: 100%;
    text-align: center;
}
.ba {
  display: inline-block;
  margin: 4%;
  width: 100px;
  height: 100px;
}
.btncard {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 95px;
  height: 95px;
  border-radius: 10px;
  margin: 0;
  box-shadow: 0px 0px 5px 1px gray;
  padding: 5px;
}
.btncard svg {
  width: 50px;
  color: white !important;
}

.btncard:hover {
  /*#266f94    #ec6f18*/
  background-color: #ec6f18 !important;
  box-shadow: 0px 0px 12px 1px #266f94;
}

.btncard:active {
  /*#266f94    #ec6f18*/
  padding: 2px;
  box-shadow: 0px 0px 12px 1px #266f94;
}


.inputs input{
  width: 150px;
}

#btnpositionnew ,#btneliminarp {
  margin-left: 10px;
}

.basetable{
  overflow-x: auto;
  width: 90%;
  height: auto;
}
.catalogo-table{
  width: 100%;
  border: solid 1px;
  border-collapse: collapse;
  
}
.catalogo-table th, .catalogo-table td{
  border: solid 1px black;
  height: 40px;
  text-align: center;
  padding: 6px;
}
.catalogo-table th{  
  background-color: #ec6f18;
  color: white;
  padding: 10px;
}