.b-load {
  width: 100% !important;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(50vh) !important;
}

.divl1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: 7px;
  transition: 100ms ease;
  border-radius: 5px;
  animation: ANIMATE infinite 1.2s ease-out;
}

@keyframes ANIMATE {
  0% {
    width: 10px;
    background-color: #17abc3 ;
    transform: rotate(0deg);
  }
  
  50% {
    width: 10%;
    background-color:#ec6f18;
  }

  100% {
    width: 10px;
    background-color: #266f94;
    transform: rotate(180deg);
  }
}

