.base-client-top{
height: 36vh !important;
}
.img-div{
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
   width: auto;
}
.img-div p{
    font-size: 1rem;
    margin-left: 4px;
}

.img-div img{
 width: 80px;
 height: 50px;
}

.btn{
    display: inline-table;
    margin: 3px;
    width: 100px;
    height: 10px;
    padding: 0;
}
.table-users{
    width: 90% !important;
}