.nav-base {
  width: 100vw;
  box-shadow: 0px 2px 10px 1px gray;
  overflow: hidden;
}
.nav-base .nav-control {
  width: 100%;
  padding: 5px;
  height: 70px;
  display: inline-flex;
}
.nav-base-left {
  display: inline-flex;
  width: 40%;
  height: 70px;
}
.nav-base-right {
  height: 70px;
  width: calc(100% - 25%);
}
.nav-base-right * {
  display: inline-block;
}

.nav-info {
  margin-top: 10px;
  margin-left: 3%;
}
.nav-info p{
  float: right;
  display: inline;
  position: relative;
  top: 0;
  bottom: 0;
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}


.nav-base-input p {
  font-weight: 800;
  color: #266f94;
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
}
.nav-base-input input {
  width: 130px;
}

.nav-icon-cargo svg {
  color: #266f94;
  height: 32px;
}
.nav-base-cargo p {
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  object-position: center;
  color: #266f94;
}
.nav-base-usuario {
  color: #266f94;
}
.nav-icon-usuario svg {
  color: #266f94;
  height: 32px;
  cursor: pointer;
}
.nav-icon-usuario svg:hover {
  height: 34px;
}
.nav-icon-usuario a:active svg {
  color: #ec6f18;
}
.nav-base-usuario p {
  margin-left: 5px;
  font-size: 1em;
  font-weight: 800;
  text-transform: uppercase;
  color: #266f94;
}

@media all and (max-width: 1000px) {
  .nav-info {
    display: none;
  }
}
@media all and (max-width: 800px) {
  .nav-base-right{
    margin-left: 10%;
  }
}
@media all and (max-width: 610px) {
  .nav-base-right{
    display: none;
  }
}
