.bar-base{
    width: 70px;
    background-color: #266f94;
    height: calc(300vh);
    display: flex;
    float: left;
    transition: 700ms ease-in-out;

    overflow: hidden;
}
.bar-icons{
    margin-top: 40%;
}
.bar-icons a, .bar-icons svg{
    margin-bottom: 90%;
    margin-left: 50%;
    display: block;
    color: white;
    height: 28px;
}

a:active svg{
    color: #ec6f18;
}

@media all and (max-width: 544px) {
    .bar-base{
      width: 18px;
    }
    .bar-icons a, .bar-icons svg{
        margin-left: 2%;
        height: 20px;
        width: 17px;
    }
  }
  