.base-profile{
    margin-left: 0px;
}
.base-profile-data{
    padding: 20px;
    margin-left: 1%;
    float: left;
}
.base-profile-img{
    padding: 20px;
    margin-top: 3%;
    float: right;
    margin-right: calc(4% + 70px);
}



.img-background{
    background-color: #266f94;
    height: 120px;
    width: 120px;
    border-radius: 15px;
    box-shadow: 0px 2px 5px 2px gray;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img svg{
    color: white;
    height: 80px;
}


.base-profile-btn{
    margin-top: 30%;
    text-align: center;
}

.base-profile-btn a{
   background-color: #ec6f18;
   padding: 4px 15px;
   color: white;
   font-weight: 700;
   border-radius: 10px;
   box-shadow: 0px 4px 6px -1px gray;
}
.base-profile-btn a:hover{
    background-color: #266f94;
 }
 .base-profile-btn a:active{
    padding: 3px 13px;
    font-size:0.8rem;
}
